:root {
  --primary: #db3a34;
  --background-color: #221d23;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Nova Flat", cursive;
}

.main-nav {
  background-color: var(--primary);

  font-family: "Nova Flat", cursive;
  
}
.main-nav a{
  text-decoration: none;
}
.text-brand {
  font-size: 48px;
  display: flex;
  color: var(--background-color);
}

.text-brand:hover {
  transition: 5s;
  color: green;
}

.nav-link {
  color: aliceblue;
}
.navigation {
  font-size: 24px;
}

.divider {
  height: 10px;
  background-color: var(--primary);
}

.card-game {
  width: 310px;
  height: 480px;
  background-color: #c4c4c4;
  transition: 0.5s;
}

.card-game:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

.item-biblioteca{
  width: 600px;
  height: 380px;
  background-color:#c4c4c4;
}

.en_flag:hover{
  cursor: pointer;
}