:root {
    --primary: #db3a34;
    --background-color: #221d23;
  }
  
  * {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: var(--background-color);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Nova Flat", cursive;
  }

.bgform{
    background-color: #c4c4c4;
}
